{% extends 'base.html' %}
{% load static %}
{% block title %}index{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 style="text-align:center">
            {# topics.paginator.number_pages 返回总页数 #}
            University
            Page {{ universities.number }} of {{ universities.paginator.num_pages }}
        </h2>
        <div class="row" style="text-align:center">
            <form method="get" action="/search">
                <input type="text"  name="q" placeholder="search university">
                <input type="submit" name="" value="search">
            </form>
        </div>
        <div class="col-md-12" style="border:1px solid black">
            <table class="table table-striped" style="">
                <thead>
                    <tr>
                        <th>latest_rank</th>
                        <th style="text-align:center ">name</th>
                        <th>website</th>
                    </tr>
                </thead>
                <tbody>
                    {% for university in universities.object_list %}
                    <tr>
                        <td style="width:5px;text-align:center ">{{university.latest_rank}}</td>
                        <td style="width:350px;height:50px"><img style="width:38px;height:25px" src='static/img/flag/{{university.country }}.jpg' /><a href="{% url 'universitylist:detail' university.id %}">{{university.name}} </a></td>
                        <td>{{university.website}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagenation">
                <p id="page" align="center">
                    {% if universities.has_previous %}
                    <a href="?page={{ universities.previous_page_number }}" id="previous"><</a>
                    {% endif %}
                    {# universities.paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
                    {# 即 range(1, topics.paginator.num_pages + 1) #}
                    {% for page_number in pages %}
                    {% ifequal page_number  universities.number %}
                    <a href="?page={{ page_number }}" class="active">{{ page_number }}</a>
                    {% else %}
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% endifequal %}
                    {% endfor %}
                    {% if universities.has_next %}
                    <a href="?page={{ universities.next_page_number }}" id="next">></a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<!--<script>
    var re = /(\d+)$/;
    var cnum = 1;
    if (re.exec(window.location.href) !== null) {
        cnum = Number(re.exec(window.location.href)[0]);
    }
    console.log(cnum);
    $('#page').children().eq(cnum).css("color", function () { return "red"; });
    console.log();
    $('#next').click(function () {
        var num = $('p a').last().text();
        var re = /(\d+)$/;
        var cnum = 1;
        if (re.exec(window.location.href) !== null) {
            cnum = Number(re.exec(window.location.href)[0]);
        }
        if (cnum < num) {
            window.location.href = '?page=' + String(cnum + 1);
        }
    })
    $('#previous').click(function () {
        var num = $('p a').last().text();
        var re = /(\d+)$/;
        var cnum = 1;
        if (re.exec(window.location.href) !== null) {
            cnum = Number(re.exec(window.location.href)[0]);
        }
        if (cnum > 1) {
            window.location.href = '?page=' + String(cnum - 1);
        }
    })
</script>-->
{% endblock body %}
{# 网页底部html元素块 #}
{% block bottom %}
{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
