{% extends 'base.html' %}
{% block title %}index{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 style="text-align:center">University</h1>
        <div class="col-md-12" style="border:1px solid black">
            <table class="table table-striped">
                <tr>
                    <td>name</td>
                    <td>toefl</td>
                    <td>rank</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>toefl</td>
                    <td>rank</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>toefl</td>
                    <td>rank</td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="container">
    {% if universities %}
    <ul>
        {% for university in universities %}
        <li><a href="{{university.id}}">{{university.name}}</a></li>
        {% endfor %}
    </ul>

    {% endif %}

</div>

{% endblock body %}


{# 网页底部html元素块 #}
{% block bottom %}
{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
