{% extends 'base.html' %}
{% block title %}login{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        {% if errmsg %}
        <h1 style="text-align:center">{{errmsg|safe}}</h1>
        {% else %}
        <h1 style="text-align:center">register page</h1>
        {% endif %}
        <div class="jumbotron" style="margin:0 auto;width:50%;text-align:center">
            <form class="form-horizontal" role="form" method="post" action="/user/register/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="input your username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" name="email" placeholder="input your email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="input your password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-2 control-label">repeat password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="input your password again">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="allow" name="allow">Agree to user agreement
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">register</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock body %}


{# 网页底部html元素块 #}
{% block bottom %}
{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
