{% extends 'base.html' %}
{% block title %}userinfo{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        {% if errmsg %}
        <h1 style="text-align:center">{{errmsg|safe}}</h1>
        {% else %}
        <h1 style="text-align:center">user_info</h1>
        {% endif %}
        <div class="jumbotron" style="margin:0 auto;width:50%;text-align:center">
            <form class="form-horizontal" role="form" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">country</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="country" name="country"  value="{{ country }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="toefl" class="col-sm-2 control-label">toefl</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="toefl" name="toefl" value="{{toefl}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="degree_type" class="col-sm-2 control-label">degree_type</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="degree_type" name="degree_type" value="{{degree_type}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fee" class="col-sm-2 control-label">fee</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fee" name="fee" value="{{fee}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock body %}


{# 网页底部html元素块 #}
{% block bottom %}
{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
