{% extends 'base.html' %}
{% block title %}userinfo{% endblock title %}

{% block body %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="border:1px solid black">
            <h1 style="text-align:center">user_info_center</h1>
            <table class="table table-striped">
                <tr>
                    <td>number</td>
                    <td>name</td>
    
                </tr>
                {% if country_list %}

                {% for country in country_list %}
                <tr>
                    <td>{{country.id}}</td>
                    <td><a>{{country.name}}</a></td>
      


                </tr>
                {% endfor %}
                {% endif %}
            </table>

        </div>
    </div>
</div>



{% endblock body %}


{# 网页底部html元素块 #}
{% block bottom %}
{% endblock bottom %}
{# 网页底部引入文件块 #}
{% block bottomfiles %}{% endblock bottomfiles %}
